[toolchain]

[features]
resolution = true
skip-lint = false

[programs.localnet]
token_2022_pumpfun = "5VD3y7hTmCqoGodiFZKBXqbaCWTm3iVwuLowxfhE6b7h"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "./id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
